body {
    text-align: center;
    background-color: #adc7ff; 
    font-family: Comic Sans MS;
    line-height: 1.5;
    font-size: 20px;
    color: rgb(0, 0, 0);
} 
h1 {
    color: #ffffff;
    font-weight: bold;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    margin: 2%;
    border: 30px solid transparent;
    font-size: 40px;
    background-color: rgb(106, 146, 255);
    border-radius: 30px;
    text-align: center;
}

img {
       border-radius: 25px; 
       width: 300px;
       height: 350px;
       border: 5px solid adc7ff;
       margin: 20px;
       box-shadow: 10px 10px 10px rgb(106, 146, 255);
}

.gallery {
    display: inline-block;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: row;
}

.item {
    flex-grow: 10;
    flex-shrink: 10;
    align-self: flex-start;
}

.item:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    filter: brightness(90%);

}

.louvre {
    width: 550px;
    height: 350px;
}

p {
    font: arial;
    font-size: 15px;
    font-style: italic;
    color: white;
    margin-top: 60px;
    margin-bottom: 100px;
}
